
.card, .card-wrapper {
  margin: 1rem;
  padding: 1rem;
}
.card-description {
  height: 5rem;
  /* width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;*/
  line-height: 2rem;
}

.card-brand {
  font-size: large;
  font-weight: 600;
}

.card-instock {
  width: 90%;
  color: red;
}
.product-content {
  margin: 0.5rem;
}
img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
  margin: 0.3rem;
  /* border: 1px solid darkgrey; */
  border-radius: 1rem;
  padding: 0.5rem;
  /* box-shadow: 0px 2px 10px 0px darkgray; */
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
  height: 15rem;
}

.img-showcase img {
  min-width: 100%;
  padding: 1rem;
  object-fit: contain;
}

.img-select {
  display: flex;
  justify-content: space-between;
  
  overflow-x: auto;
  margin: 0.3rem;
  padding: 0.5rem
}
.shadow-scroll-x {
  overflow-x: auto;

  background-color: white;
  background-image: /* Shadows */ 
  linear-gradient(to right, white 0%, white 50%, rgba(255, 255, 255, 0) 100%), 
  linear-gradient(to left, white 0%, white 50%, rgba(255, 255, 255, 0) 100%), 
  
  /* Shadow covers */ 
  linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), 
  linear-gradient(to left, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;

  background-position: left center, right center, left center, right center;
  background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  -webkit-overflow-scrolling: touch;

  /* 
  Progressive enhancement of scrollbar on webkit
  Use media queries to only use on mobile */
  &::-webkit-scrollbar {
    height: 6px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.img-item {
  margin: 0.3rem;
  border: 1px solid #9a7f75;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 0px #9a7f75;
}

.img-item-img {
  object-fit: cover;
  height: 4rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}


.total-price{
  font-size: 1em;
  color: #43484D;
  font-weight: 300;
  display: flex;
  align-items: baseline;
}

#quantity {
   .btn-list {
    border: 1px solid #edebeb;
    font-size: 14px;
    font-weight: 500;
  }
  
  .btn-list:active {
    border: 1px solid #757574;
  }
  
  .btn-quantity-container {
    border: 1px solid #edebeb;
    border-radius: 6px;
    height: 35px;
    box-shadow: 0px 3px 6px 0px #ebeb;
  }
  
  .btn-quantity-container .btn-quantity {
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.badge-overlay {
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
  -webkit-transition: width 1s ease, height 1s ease;
  -moz-transition: width 1s ease, height 1s ease;
  -o-transition: width 1s ease, height 1s ease;
  transition: width 0.4s ease, height 0.4s ease
}

/* ================== Badge CSS ========================*/
.badge-overlay {
  .badge {
    margin: 0;
    color: white;
    padding: 0.5rem !important;
    font-size: 1rem !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    background: #ed1b24 ;
    /* background:  #795548; */
  }
  
  .badge::before, .badge::after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: inherit;
    min-width: 55px;
  }
  
  .badge::before {
    right: 100%
  }
  
  .badge::after {
    left: 100%
  }
  
  .top-right {
    position: absolute;
    top: 0;
    right: 0;
    -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
    -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
    transform: translateX(30%) translateY(0%) rotate(45deg);
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
.price-addCart {
  /* position: absolute;
  bottom: 0 */
}

/* PRICE TAG CSS */

.price-tag {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: 20px;
  margin-left: 10px;
  padding: 0 5px 0 10px;
  color: #fff;
  border-radius: 0 4px 4px 0;
  background-color: #ff6347;
  line-height: 1;
  justify-content: center;
}

.price-tag::before,
.price-tag::after {
  position: absolute;
  content: '';
}

.price-tag::before {
  left: -7px;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  border-radius: 0 0 0 4px;
  background-color: #ff6347;
}

.price-tag::after {
  z-index: 1;
  top: 50%;
  left: -3px;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%) translateX(3px);
  border-radius: 3px;
  background-color:  #fff;
}

.price-tag__main {
  font-size: 1.15em;
  font-weight: bold;
}

.price-tag__main ~ * {
  opacity: 0.85;
}

.price-tag span {
  position: relative;
  z-index: 1;
}

.price-tag--two-lines {
  margin-left: 20px;
  height: 40px;
}

.price-tag--two-lines::before {
  left: -14px;
  width: 28px;
  height: 28px;
}

.price-tag--two-lines::after {
  transform: translate(-50%, -50%) translateX(3px) scale(2);
}

.price-tag--one-line {
  flex-direction: row;
  align-items: center;
}

.price-tag--one-line span:not(:first-child)::before {
  content: ', ';
}
